
 html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.backgroundPic {
   min-height:100%;
   position:relative;
}
header {
   background:rgb(87, 87, 87);
   padding:10px;
   width: 100%;
}
body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
   position: relative;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
   text-align: center;
}

h1 {
    font-family: Verdana;
    font-size: 20;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.allPics {
    display: flex;
    overflow-x: scroll;
    height: 350px;
    margin-bottom: 50px;

}

.pics {
    width:300px;
    height:300px;
    border: 5px solid black;
}

figcaption {
    text-align: center;
    background-color: black;
    color:salmon;
    height: 18px;
    padding-top: 4px;
    
}



a {
    color: black;
}
a:hover {
    color: white;
}

.salesBody {
   background-color: salmon;
}

.wholeTable {
    /* border: 4px solid black;
    height: 220px; */
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

table {
    margin: auto;
}

#tableHead {
    background-color: black;
    color:white;
}

legend {
    font-weight: bold;
    margin: auto;
}

#salmonSales {
    margin: auto;
    height: 100px;
}